{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block inner-content %}
    <div class="special">
        <div class="container">
            <div class="content">
                <h3>{{ specialist.first_name }}
                    {% if specialist.last_name %}
                        {{ specialist.last_name }}
                    {% endif %}
                </h3>

                {% if specialist.excerpt is not None %}
                    <p>{{ specialist.excerpt }}</p>
                {% endif %}
                 {% if specialist.description is not None %}
                    <ul style="list-style: none">
                        <span>{{ specialist.description|safe }}</span>
                    </ul>
                {% endif %}
                <div class="mark">
                    <p><span>Average Rating: </span>{{ average_rating }}/10</p>
                    {% if specialist.experience is not None %}
                        <p><span>Experience: </span>{{ specialist.experience }} years</p>
                    {% endif %}
                </div>
            </div>
            <div class="image">
                <img src="{{ specialist.image.url }}" alt="">
                {% if user.id == specialist.id %}
                <button onclick="window.location.href = '{% url 'specialist-edit' specialist.id %}';">edit</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="reviews">
        <h1>Reviews</h1>
        {% if user in clients and not user in reviews.client %}
        <form action="" method="POST">
            <div class="review">
                <h4> Your review</h4>
                {% csrf_token %}
                {{ form.text }}
                <h4>Rate</h4>
                {{ form.rate }}
                <input type="submit" value="add Review" class="mit">
            </div>
        </form>
        {% endif %}

        <div class="container">
            <ul>
            {% if specialist.reviews.all %}
                {% for review in specialist.reviews.all %}
                <li class="shadow">
                    <div>
                        <h4>{{ review.client.first_name }} {{ review.client.last_name }}</h4>
                        <p>{{ review.text }}</p>
                    </div>
                    <span>
                    <p class="at"><span>Rate: </span>{{ review.rate }}/10</p>
                    </span>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}