* {
  padding: 0;
  margin: 0;
}
:root{
  --main-color: #0CD2BF;
}

body {
  background-color: #F1F6F4;
  box-sizing: border-box;
  font-family: "work Sans", sans-serif;
  z-index: 100;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}

/* style css sign in page */
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 68px;
  margin: 7px auto;
  background-color:var(--main-color);
  flex-wrap: nowrap;
}

.header nav {
  margin-right: 104px;
}

.header h2 {
  display: flex;
  align-items: center;
  color: white;
}

.header .container ul {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
}

.header .container a {
  /* padding: 22px 15px; */
  margin-left: 36px;
  margin-top: 24px;
  font-size: 1.1em;
  position: relative;
  color: white;
  transition: 0.5s;
  font-weight: 500;
  display: block;
  align-items: center;
  margin-right: -7px;
  border-radius: 5px;
}

.header .container a:hover {
  background-color: white;
  color: var(--main-color);
}

.header .container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  background-color: white;
  border-radius: 5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.header .container a:hover::after {
  transform: scaleX(1);
}

.header .container nav .toggle-menu {
  position: absolute;
  font-size: 20px;
  top: 33%;

  right: 110px;
  color: white;
}

.header .login {
  position: relative;
  background-color: var(--main-color);
  color: White;
  width: 64px;
  height: 35px;
  font-weight: bold;
  margin-right: 7px;

  transform: translateY(10%);
  border: solid 1px white;
  cursor: pointer;
  transition: 0.5s;
  font-size: large;
  margin-top: 13px;
}

.header .login:hover {
  color: var(--main-color);
  background-color: white;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  color: white;
  background-color: var(--main-color);
  transition: 0.5s;
}

/*  responsive header  */
@media (max-width: 767px) {
  .header .container ul {
    display: none;
  }
  .header .container a:hover {
    background-color: transparent;
  }
}
.header .container nav .toggle-menu:hover + ul li a {
  font-size:18px;
  margin:14px;
}

.header .container nav .toggle-menu:hover + ul {
  display: flex;
  position: absolute;
  flex-direction: column;

  top: 100%;
  right: 40%;
  width: 100%;
  left: 0;
   background-color: rgba(23, 2, 2, 0.818); 
   opacity: 0.9;
  z-index: 100;
  height: 210px;
}
/*  sign */

.header .container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;

  border-radius: 5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.header .container a:hover::after {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .header .container .toggle-menu {
    display: none;
  }
}

.sign .container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #F1F6F4;
 
}
.sign .container .main-sign {
 width: 550px;
  min-height: 550px;
  background-color: white;
}
.sign .container .main-sign h2 {
  background-color: var(--main-color);
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 8px;
}
.sign .container .main-sign form {
  display: flex;
  flex-direction: column;
}

.sign .container .main-sign button {
  padding: 0 10px 0 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  margin: 56px auto;
  display: block;
}


  .sign .container {
    height: 100vh;
    margin-top: 70px;
  }
 .header .container {
  width: 90%;
 }


.sign .container .main-sign .input ul li {
  font-size: 20px;
  color: red;
  margin-top: 15px;
  display: block;
}

.sign .container .main-sign .input ul {
  display: block;
}

.sign .container .main-sign .input {
  font-size: 25px;
  margin: 30px;
  width: 100%;
}

.sign .container .main-sign .input input::placeholder {
  color: #aaa;
}

.sign .container .main-sign form input {
  background-color: transparent;
  border-style: none none solid none;
  width: 90%;
}

.sign .container form input {
  outline: none;
}

@media(max-width:767px){
 .sign .container .main-sign {
   text-align: center;
    
  }
  .sign .container .main-sign form input{
    font-size: 15px;
    width: 80%;
    margin-bottom: 40px;
    position: absolute;
    left: 30px;
  }
}
::-webkit-scrollbar{
  width: 0;
}

