{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block inner-content %}
    <div class="header">
{#        <div class="container">#}
{#            <h2 class="logo">Happy Helper</h2>#}
{#            <nav>#}
{#                <i class="fas fa-bars toggle-menu"></i>#}
{#                <ul>#}
{#                    <li><a href="/">Home</a></li>#}
{#                    <li><a href="#">Find Specialists</a></li>#}
{#                    <li><a href="#">Find Centers</a></li>#}
{#                    <li><a href="#">Contact Us</a></li>#}
{#                </ul>#}
{#            </nav>#}
{#            <div>#}
{#                <button onclick="window.location.href = '{% url 'sign-up' %}';" class="login">Signup</button>#}
{#            </div>#}
{#        </div>#}

        <div class="sign">
            <div class="container">
                <div class="main-sign">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Login To Your Account</h2>
                        {{form.non_field_errors}}
                        <div class="input">
                            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="255" required="" id="id_username" placeholder="Email address">
                            {{ form.email.errors }}
                        </div>
                        <div class="input">
                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
                            {{ form.password.errors }}
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                    <h3>don't have an account? make one!</h3>
                    <button onclick="window.location.href = '{% url 'sign-up' %}';" class="login">Sign up</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}