{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'users/css/choice-page.css' %}">
{% endblock %}

{% block inner-content %}
    <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size"
             style="background-image:url({% static 'assets/img/gallery/hero-bg.png' %});background-position:top center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="optio">
            <section class="py-xxl-10 pb-0" id="home">
                <div class="bg-holder bg-size"
                     style="background-image:url({% static 'assets/img/gallery/hero-bg.png' %});background-position:top center;background-size:cover;">
                </div>
                <div class="options">
                    <!-- <div class="row min-vh-xl-100 min-vh-xxl-25"> </div> -->
                    <div class="container">
                        <h1>Sign up as :</h1>
                        <div class="BOX">
                            <div class="box1">
                                <img src="{% static 'assets/img/gallery/do2.jpg' %}" alt="">
                                <a href="{% url 'client-sign-up' %}">Client</a>
                            </div>
                            <div class="box1">
                                <img src="{% static 'assets/img/gallery/R.jpeg' %}" alt="">
                                <a href="{% url 'center-sign-up' %}">Center</a>
                            </div>
                            <div class="box1">
                                <img src="{% static 'assets/img/gallery/health-care.png' %}" alt="">
                                <a href="{% url 'specialist-sign-up' %}">Specialist</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
{% endblock %}